! Parameter options file

! Dimensions of Physical Grid and array dimensions:
!----------- -- -------- ---- --- ----- -----------
! LLm   Number of the internal points of the PHYSICAL grid in XI-
! MMm   and ETA-directions, excluding physical side boundary points,
!       peroodic ghost points, and MPI-margins (if any).
!
! Domain subdivision parameters:
!------- ----------- -----------
! NP_XI,  NP_ETA     number of MPI subdomains in XI-, ETA-directions;
! NSUB_X, NSUB_E     number of shared memory subdomains (tiles) in XI- and ETA-directions;

! Number of tracers
!------- -----------
! nt  must be 2 or more if Salinity is defined


! Domain
! ------
  
      !---- Quasi-2D shelf grid with dx=1km ----
      !Grid dimensions [grid points]
      integer, parameter :: LLm = 128, MMm =4, N=30
      !Subdomain paritioning
      integer, parameter :: NP_XI =4, NP_ETA =2
      !Constant horiz. resolution [m]
      real, parameter :: dx_grd=1000.0, dy_grd=1000.0


! Constants: 
! ----------
     
      !restoring time-scale
      real, parameter :: tau_restore = 5*86400 ![seconds] 
      !-----------------------------------------------------------------
      !parameters from Brink 2016 run 4 (approximately)
      !--------------------------------------------------------------------
      real, parameter :: hslope0 = 2.33e-3  ! [n.d] bathyemtric slope
      !max shelf depth prescribed so you get to 1 m depth (~mask)
      real, parameter :: max_h_shelf = 1+ llm*dx_grd*hslope0 ![commented out for now]
      !real, parameter :: max_h_shelf = 500 ! [m] maximum depth
      real, parameter :: min_h_shelf = 5  ! [m] minimum depth
      real, parameter :: n2back = 1e-4 ! [s^-2] const. stratificaiton (n^2)
      real, parameter :: f0_grd = 1e-4   ! [s^-1] const. coriolis freq.
#ifdef ANA_WINDSTRESS 
      real, parameter :: nday_ramp = 2 ! [days] time-scale of linear wind ramp up
      real, parameter :: taux0 = 0.    ! [n/m^2] wind-stress in xi
      real, parameter :: tauy0 = -0.02  ! [n/m^2] wind-stress in eta 
#endif





     
      integer, parameter :: NSUB_X = 1, NSUB_E = 1

      ! Defining number of tracers
      integer, parameter :: nt_passive=0 

# ifdef SPONGE
      integer :: sponge_size = 15
# endif

# ifdef BIOLOGY_BEC2
#   ifdef Ncycle_SY
      integer,parameter :: ntrc_bio=29 
#   else
      integer,parameter :: ntrc_bio=26 
#   endif
# elif defined MARBL
      integer,parameter :: ntrc_bio=32 
# else 
      integer,parameter :: ntrc_bio=0  
# endif
#ifdef SALINITY
      integer,parameter :: ntrc_salt=1
#else
      integer,parameter :: ntrc_salt=0
#endif

      integer, parameter :: nt=1+nt_passive+ntrc_bio+ntrc_salt
    

