
      !-----------------------------------------------------------
      ! User inputs for random output module
      !
      logical,public,parameter :: do_random = .false.
      real   ,parameter :: output_period = 30   ! in seconds
      integer,parameter :: nrpf   = 24          ! number of frames per file
      !
      !-----------------------------------------------------------
