
      !-----------------------------------------------------------
      ! User inputs for random output module
      !
      logical,public,parameter :: do_random = .false.
      real   ,parameter :: output_period= 86400    ! in seconds
      integer,parameter :: nrpf   = 30          ! number of frames per file
      !
      !-----------------------------------------------------------
